
# Python
*.pyc
*~
__pycache__

# Env
.env
.venv
.venv/*

# Database
db.sqlite3

# Static folder at project root
/static/

# Migrations
blog/migrations/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100
