<!DOCTYPE html>
<html>
    <body>
        <h1><a href="/">Blog posts list page</a></h1>
        <ul>
            {% for post in posts %}
                <li>{{post}}</li>
            {% endfor %}
        </ul>
        <div>
        {% for post in posts %}
            <article>
                <h2><a href="">{{post.title}}</a></h2>
                <div>{{post.text}}</div>
                <div>published: {{post.published_date}}</div>
            </article>
        {% endfor %}
        </div>
    </body>
</html>
