{% extends 'blog/base.html' %}

{% block content %}
    <h1><a href="/">Blog posts</a></h1>
    <div class="posts__container">
        <ul>
            {% for post in posts %}
                <li>{{post}}</li>
            {% endfor %}
        </ul>
        <div>
        {% for post in posts %}
            <article>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
                <div>{{post.text}}</div>
                <div>published: {{post.published_date}}</div>
            </article>
        {% endfor %}
        </div>
    </div>
{% endblock %}
